/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-color: #ffffff;
}

.heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 30px;
  color: #0f172a;
  font-weight: bold;
}

@media screen and(min-width:768px) {
  .heading {
    font-size: 50px;
  }
}

.box-size-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .box-size-container {
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 0px;
  }
}

.small-box {
  width: 60px;
  height: 60px;
  background-color: #fbbf24;
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
  font-family: "Bree Serif";
  margin-right: 20px;
}

.medium-box {
  width: 100px;
  height: 90px;
  background-color: #38bdf8;
  color: #ffffff;
  text-align: center;
  padding-top: 25px;
  font-family: "Bree Serif";
  margin-right: 20px;
}

.large-box {
  width: 160px;
  height: 150px;
  background-color: #ec4899;
  color: #ffffff;
  text-align: center;
  align-self: center;
  padding-top: 50px;
  font-family: "Bree Serif";
  margin-right: 20px;
}
